In [1]:
print ("Pakistan Zindabad")
print ("we are Pakistani")

Pakistan Zindabad
we are Pakistani

print ("hello")

In [2]:
print ("arfan")

arfan

In [3]:
print("hi")

hi

# Class
- 12:15 to 3:15

hi how are you
fine

hi how are you
fine

In [4]:
message = """
PIAIC
Name: Arfan Aryan
Father Name: Abdul Hameed
Program: AI
"""

print(message)

PIAIC
Name: Arfan Aryan
Father Name: Abdul Hameed
Program: AI

In [5]:
name = "Arfan"
father_name = "Abdul Hameed"
program = "AI"

message = """
PIAIC
Name: {}
Father Name: {}
Program: {}
"""

message1 = message.format(name, father_name, program)
print(message1)

PIAIC
Name: Arfan
Father Name: Abdul Hameed
Program: AI

In [9]:
name = input("enter your name: ")
father_name = input("enter your father name: ")
program = input("course name: ")
total_marks = "100"
obtained_marks = input("enter yout marks: ")


message = """
PIAIC
Name: {}
Father Name: {}
Program: {}
Total Marks: {}
Obtained Marks: {}
"""

message1 = message.format(name, father_name, program, total_marks, obtained_marks)
print(message1)

enter your name: Arfan
enter your father name: Abdul Hameed
course name: AI
enter yout marks: 98.5

PIAIC
Name: Arfan
Father Name: Abdul Hameed
Program: AI
Total Marks: 100
Obtained Marks: 98.5

print ("hi")

In [1]:
git push -u origin master

SyntaxError: invalid syntax (<ipython-input-1-cdea89f33e20>, line 1)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
a = 2
b = 4

sum = a+b

print(sum)

6

In [4]:
print(2+4)

6

In [6]:
5 + 8 # Operation

# Operators
# +, -, /, *, %, ** 
# =, +=, -=, /=, *=, %=
# ==, >, >, >=, <=

# 5, 8 Oprands

13

In [8]:
#PEDMAS
5 + 7 - 8 * (2/2) +200
#5 + 7 - 8 * 1 +200
#5 + 7 - 8 +200
#212 - 8
#204

204.0

In [9]:
a = 8
b = 8
print(a)
print(b)

8
8

<built-in function id>

In [12]:
a = 7
type(a)

int

In [13]:
a=10.4
type(a)

float

In [15]:
a = True
type(a)

bool

#####

In [16]:
5/5

1.0

In [17]:
a = "1"
type(a)

str

In [18]:
a = '1'
type(a)

str

In [20]:
a = """"1"""
type(a)

str

In [22]:
"1"+"1"  # String with addition will never add, it will do concatination

'11'

In [23]:
int("1") + int('1')

2

In [24]:
'1' + 7 # Error coz its not same data type

TypeError: can only concatenate str (not "int") to str

In [25]:
a = "Pakistan"
a * 2   # * sign does 2 jobs, with strings it will repeat, and with number it will multiply

'PakistanPakistan'

In [28]:
names = ["Arfan", "Adnan", "Ali", 200]  # this is a hatrogenius, if u have same data type then its called homogenius
print(type(names))

<class 'list'>

In [29]:
names = ("Arfan", "Adnan", "Ali", 200)
print(type(names))

<class 'tuple'>

In [31]:
#Index      0 .      1 .     2     3
names = ["Arfan", "Adnan", "Ali", 200]
#Index      -4 .     -3     -2   -1
print(type(names))
print(names)

<class 'list'>
['Arfan', 'Adnan', 'Ali', 200]

In [35]:
names = ["Arfan", "Adnan", "Ali", 200]
manes = list(names)

print(names[0])
print(type(names))

Arfan
<class 'list'>

In [36]:
data = {
    #Key   :  Value
    'name' : "Arfan Aryan",
    'father_name' : "Abdul Hameed",
    5 : 'Pakistan'
}

data['name']

'Arfan Aryan'

In [38]:
data = {
    #Key   :  Value
    'name' : "Arfan Aryan",
    'father_name' : "Abdul Hameed",
    'name' : "Adnan Aryan",         # Overwrites with new key
    5 : 'Pakistan'
}

data['name']

'Adnan Aryan'

In [39]:
data = {
    #Key   :  Value
    'name' : "Arfan Aryan",
    'father_name' : "Abdul Hameed",
    'name' : "Adnan Aryan",
    5 : 'Pakistan',
    "a" : [True, "pakistan", 20, 3.0]   # Value can be any data type
}

data['a']

[True, 'pakistan', 20, 3.0]

In [43]:
#a.      # write "a." and press "tab" then it will show you list of options
dir(a)   # write "dir(a)" and press "tab" then it will show you list of options

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
a = "ArFaN aRyAn"
print(a.upper())
print(a)

ARFAN ARYAN
ArFaN aRyAn

In [45]:
a = "ArFaN aRyAn"
print(a.lower())
print(a)

arfan aryan
ArFaN aRyAn

In [46]:
a = "ArFaN aRyAn"
print(a.capitalize())
print(a)

Arfan aryan
ArFaN aRyAn

In [48]:
a = "ArFaN aRyAn"
print(a.title())
print(a)

Arfan Aryan
ArFaN aRyAn

In [47]:
a = '       ArFaN         aRyAn    '
a

'       ArFaN         aRyAn    '

In [51]:
a = "       ArFaN         aRyAn    "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

30
       ArFaN         aRyAn
26

In [52]:
a = "       ArFaN         aRyAn    "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

30
ArFaN         aRyAn
23

In [53]:
a = "       ArFaN         aRyAn    "
print(len(a))
print(a.strip())
print(len(a.strip()))

30
ArFaN         aRyAn
19

In [54]:
b = a.split()     # TO REMOVE THE SPACES FROM BETWEEN WORDS
b

['ArFaN', 'aRyAn']

In [55]:
" ".join(b)   # to joint the words after split

'ArFaN aRyAn'

In [56]:
a = "we are pakistani we love our country!"
a

'we are pakistani we love our country!'

In [60]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])

we are pakistani we love our country!
we are pakistani we love our country!

In [62]:
print(a)
print(a[::])
print(a[7:15:])

we are pakistani we love our country!
we are pakistani we love our country!
pakistan

In [63]:
print(a)
print(a[::])
print(a[::-1])
print(a[7:15:])

we are pakistani we love our country!
we are pakistani we love our country!
!yrtnuoc ruo evol ew inatsikap era ew
pakistan

In [65]:
print(a)
print(a.index("pakistan"))

we are pakistani we love our country!
7

In [68]:
a[a.index("pakistan"):15]

'pakistan'

In [70]:
a = "jshdhff-8555576-434-55nbj/454"           # if you have to remove number only from the line.
"".join([i for i in a if str.isnumeric(i)])

'855557643455454'

In [74]:
"5"+"5"

'55'

In [75]:
5+5

10

In [81]:
card = """
Bahria University Islamabad
Name: Arfan Aryan
Father Name: Abdul Hameed
Progran: AI
"""

print(card)

Bahria University Islamabad
Name: Arfan Aryan
Father Name: Abdul Hameed
Progran: AI

In [80]:
name = Arfan Aryan
fname = Abdul Hameed
program = AI
score = 100


card = """
Bahria University Islamabad
Name: %s
Father Name: %s
Progran: %s
Score: %d
"""

print(card(name,fname,program,score))

SyntaxError: invalid syntax (<ipython-input-80-034f85593ff2>, line 1)

In [ ]:
# concatination types %, f, .format, +

In [1]:
print('hello')

hello

In [1]:
print('pakistan')

pakistan